In [28]:
import pandas as pd
import numpy as np

In [29]:
match=pd.read_csv('matches.csv')
#match is match wise detailed dataframe
#delivery is ball wise dataframe
delivery=pd.read_csv('deliveries.csv')

In [30]:
match.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [31]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [32]:
total_score_df= delivery.groupby(['match_id','inning']).sum()['total_runs'].reset_index()
# reset_index() lagaane se upar wala statement dataFrame me convert hojaega

C:\Users\upray\AppData\Local\Temp\ipykernel_25716\373521407.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_score_df= delivery.groupby(['match_id','inning']).sum()['total_runs'].reset_index()

In [33]:
total_score_df

      match_id  inning  total_runs
0            1       1         207
1            1       2         172
2            2       1         184
3            2       2         187
4            3       1         183
...        ...     ...         ...
1523     11413       2         170
1524     11414       1         155
1525     11414       2         162
1526     11415       1         152
1527     11415       2         157

[1528 rows x 3 columns]

In [34]:
total_score_df['total_runs']=total_score_df['total_runs']+1

In [35]:
total_score_df

      match_id  inning  total_runs
0            1       1         208
1            1       2         173
2            2       1         185
3            2       2         188
4            3       1         184
...        ...     ...         ...
1523     11413       2         171
1524     11414       1         156
1525     11414       2         163
1526     11415       1         153
1527     11415       2         158

[1528 rows x 3 columns]

In [36]:
total_score_df = total_score_df[total_score_df['inning'] == 1]

In [37]:
total_score_df

      match_id  inning  total_runs
0            1       1         208
2            2       1         185
4            3       1         184
6            4       1         164
8            5       1         158
...        ...     ...         ...
1518     11347       1         144
1520     11412       1         137
1522     11413       1         172
1524     11414       1         156
1526     11415       1         153

[756 rows x 3 columns]

In [38]:
match_df=match.merge(total_score_df[['match_id','total_runs']],left_on='id',right_on='match_id')

In [39]:
match_df

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,208
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,185
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,3,184
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,4,164
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,5,158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi,11347,144
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould,11412,137
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN,11413,172
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin,11414,156
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong,11415,153

In [40]:
match_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [41]:
teams=['Sunrisers Hyderabad',
      'Mumbai Indians',
      'Royal Challangers Banglore',
      'Kolkata Knight Riders',
      'Kings XI Punjab',
      'Chennai Super Kings',
      'Rajasthan Royals',
      'Delhi Capitals']

In [42]:
match_df['team1']=match_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team2']=match_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')
# DD ko DC and DecCh ko SRH se replace kia hai
match_df['team1']=match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2']=match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [43]:
match_df=match_df[match_df['team1'].isin(teams)]
match_df=match_df[match_df['team2'].isin(teams)]

In [44]:
match_df.shape

(477, 20)

In [45]:
#We only want data of those matches where dwl has not been applied

In [46]:
match_df=match_df[match_df['dl_applied']==0]

In [47]:
# match_df

In [48]:
match_df=match_df[['match_id','city','winner','total_runs']]

In [49]:
delivery_df=match_df.merge(delivery,on='match_id')

In [50]:
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder
0,7,Mumbai,Mumbai Indians,179,1,Kolkata Knight Riders,Mumbai Indians,1,1,G Gambhir,...,0,0,0,0,1,0,1,NaN,NaN,NaN
1,7,Mumbai,Mumbai Indians,179,1,Kolkata Knight Riders,Mumbai Indians,1,2,CA Lynn,...,0,0,0,0,0,1,1,NaN,NaN,NaN
2,7,Mumbai,Mumbai Indians,179,1,Kolkata Knight Riders,Mumbai Indians,1,3,CA Lynn,...,0,0,0,0,1,0,1,NaN,NaN,NaN
3,7,Mumbai,Mumbai Indians,179,1,Kolkata Knight Riders,Mumbai Indians,1,4,G Gambhir,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,7,Mumbai,Mumbai Indians,179,1,Kolkata Knight Riders,Mumbai Indians,1,5,G Gambhir,...,0,0,0,0,1,0,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111755,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,0,0,0,0,1,0,1,NaN,NaN,NaN
111756,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,0,0,0,0,2,0,2,NaN,NaN,NaN
111757,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
111758,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,0,0,0,0,2,0,2,NaN,NaN,NaN
111759,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [51]:
delivery_df=delivery_df[delivery_df['inning']==2]

In [56]:
delivery_df.shape

(54192, 25)

In [57]:
delivery_df['current_score']=delivery_df.groupby('match_id').cumsum()['total_runs_y']

C:\Users\upray\AppData\Local\Temp\ipykernel_25716\1213823236.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  delivery_df['current_score']=delivery_df.groupby('match_id').cumsum()['total_runs_y']
C:\Users\upray\AppData\Local\Temp\ipykernel_25716\1213823236.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['current_score']=delivery_df.groupby('match_id').cumsum()['total_runs_y']

In [66]:
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left
128,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,1,PA Patel,...,0,0,0,0,0,NaN,NaN,NaN,0,179
129,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,2,PA Patel,...,0,0,0,0,0,NaN,NaN,NaN,0,179
130,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,3,PA Patel,...,0,0,4,0,4,NaN,NaN,NaN,4,175
131,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,4,PA Patel,...,0,0,0,0,0,NaN,NaN,NaN,4,175
132,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,5,PA Patel,...,0,0,1,0,1,NaN,NaN,NaN,5,174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111755,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,0,0,1,0,1,NaN,NaN,NaN,152,1
111756,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,0,0,2,0,2,NaN,NaN,NaN,154,-1
111757,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,0,0,1,0,1,SR Watson,run out,KH Pandya,155,-2
111758,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,0,0,2,0,2,NaN,NaN,NaN,157,-4
111759,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,0,0,0,SN Thakur,lbw,NaN,157,-4

In [62]:
delivery_df['runs_left']=delivery_df['total_runs_x']-delivery_df['current_score']

C:\Users\upray\AppData\Local\Temp\ipykernel_25716\3239114318.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['runs_left']=delivery_df['total_runs_x']-delivery_df['current_score']

In [67]:
# delivery_df

In [68]:
delivery_df['balls_left']=126-(delivery_df['over']*6+delivery_df['ball'])

C:\Users\upray\AppData\Local\Temp\ipykernel_25716\2918661865.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['balls_left']=126-(delivery_df['over']*6+delivery_df['ball'])

In [69]:
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
128,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,1,PA Patel,...,0,0,0,0,NaN,NaN,NaN,0,179,119
129,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,2,PA Patel,...,0,0,0,0,NaN,NaN,NaN,0,179,118
130,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,3,PA Patel,...,0,4,0,4,NaN,NaN,NaN,4,175,117
131,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,4,PA Patel,...,0,0,0,0,NaN,NaN,NaN,4,175,116
132,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,5,PA Patel,...,0,1,0,1,NaN,NaN,NaN,5,174,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111755,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,0,1,0,1,NaN,NaN,NaN,152,1,4
111756,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,0,2,0,2,NaN,NaN,NaN,154,-1,3
111757,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,0,1,0,1,SR Watson,run out,KH Pandya,155,-2,2
111758,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,0,2,0,2,NaN,NaN,NaN,157,-4,1
111759,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,0,0,SN Thakur,lbw,NaN,157,-4,0

In [70]:
#finding no. of wickets left
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna("0")
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x:x if x == "0" else "1")
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')
wickets = delivery_df.groupby('match_id').cumsum()['player_dismissed'].values
delivery_df['wickets'] = 10 - wickets
delivery_df

C:\Users\upray\AppData\Local\Temp\ipykernel_25716\2027107055.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna("0")
C:\Users\upray\AppData\Local\Temp\ipykernel_25716\2027107055.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x:x if x == "0" else "1")
C:\Users\upray\AppData\Local\Temp\ipykernel_25716\2027107055.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')
C:\Users\upray\AppData\Local\Temp\ipykernel_25716\2027107055.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wickets = delivery_df.groupby('match_id').cumsum()['player_dismissed'].values
C:\Users\upray\AppData\Local\Temp\ipykernel_25716\2027107055.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['wickets'] = 10 - wickets

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets
128,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,1,PA Patel,...,0,0,0,0,NaN,NaN,0,179,119,10
129,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,2,PA Patel,...,0,0,0,0,NaN,NaN,0,179,118,10
130,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,3,PA Patel,...,4,0,4,0,NaN,NaN,4,175,117,10
131,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,4,PA Patel,...,0,0,0,0,NaN,NaN,4,175,116,10
132,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,5,PA Patel,...,1,0,1,0,NaN,NaN,5,174,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111755,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,1,0,1,0,NaN,NaN,152,1,4,5
111756,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,2,0,2,0,NaN,NaN,154,-1,3,5
111757,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,1,0,1,1,run out,KH Pandya,155,-2,2,4
111758,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,2,0,2,0,NaN,NaN,157,-4,1,4
111759,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,0,1,lbw,NaN,157,-4,0,3

In [71]:
#crr =runs/overs
delivery_df['crr']=(delivery_df['current_score']*6)/(120-delivery_df['balls_left'])

C:\Users\upray\AppData\Local\Temp\ipykernel_25716\251025439.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['crr']=(delivery_df['current_score']*6)/(120-delivery_df['balls_left'])

In [72]:
delivery_df['rrr']=(delivery_df['runs_left']*6)/delivery_df['balls_left']

C:\Users\upray\AppData\Local\Temp\ipykernel_25716\3992153924.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['rrr']=(delivery_df['runs_left']*6)/delivery_df['balls_left']

In [73]:
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets,crr,rrr
128,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,1,PA Patel,...,0,0,NaN,NaN,0,179,119,10,0.000000,9.025210
129,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,2,PA Patel,...,0,0,NaN,NaN,0,179,118,10,0.000000,9.101695
130,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,3,PA Patel,...,4,0,NaN,NaN,4,175,117,10,8.000000,8.974359
131,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,4,PA Patel,...,0,0,NaN,NaN,4,175,116,10,6.000000,9.051724
132,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,5,PA Patel,...,1,0,NaN,NaN,5,174,115,10,6.000000,9.078261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111755,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,1,0,NaN,NaN,152,1,4,5,7.862069,1.500000
111756,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,2,0,NaN,NaN,154,-1,3,5,7.897436,-2.000000
111757,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,1,1,run out,KH Pandya,155,-2,2,4,7.881356,-6.000000
111758,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,2,0,NaN,NaN,157,-4,1,4,7.915966,-24.000000
111759,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,1,lbw,NaN,157,-4,0,3,7.850000,-inf

In [74]:
def result(row):
    return 1 if row['batting_team']==row['winner'] else 0

In [75]:
delivery_df['result']=delivery_df.apply(result,axis=1)

C:\Users\upray\AppData\Local\Temp\ipykernel_25716\2671046774.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['result']=delivery_df.apply(result,axis=1)

In [76]:
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets,crr,rrr,result
128,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,1,PA Patel,...,0,NaN,NaN,0,179,119,10,0.000000,9.025210,1
129,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,2,PA Patel,...,0,NaN,NaN,0,179,118,10,0.000000,9.101695,1
130,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,3,PA Patel,...,0,NaN,NaN,4,175,117,10,8.000000,8.974359,1
131,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,4,PA Patel,...,0,NaN,NaN,4,175,116,10,6.000000,9.051724,1
132,7,Mumbai,Mumbai Indians,179,2,Mumbai Indians,Kolkata Knight Riders,1,5,PA Patel,...,0,NaN,NaN,5,174,115,10,6.000000,9.078261,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111755,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,0,NaN,NaN,152,1,4,5,7.862069,1.500000,0
111756,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,0,NaN,NaN,154,-1,3,5,7.897436,-2.000000,0
111757,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,1,run out,KH Pandya,155,-2,2,4,7.881356,-6.000000,0
111758,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,0,NaN,NaN,157,-4,1,4,7.915966,-24.000000,0
111759,11415,Hyderabad,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,1,lbw,NaN,157,-4,0,3,7.850000,-inf,0

In [77]:
final_df=delivery_df[['batting_team','bowling_team','city','runs_left','balls_left','wickets','total_runs_y','crr','rrr','result']]

In [78]:
final_df=final_df.sample(final_df.shape[0])

In [79]:
final_df.sample()

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_y,crr,rrr,result
17003,Rajasthan Royals,Delhi Daredevils,Centurion,55,39,5,2,6.592593,8.461538,1

In [80]:
final_df.dropna(inplace=True)

In [81]:
final_df=final_df[final_df['balls_left']!=0]

In [82]:
X=final_df.iloc[:,:-1]
y=final_df.iloc[:,-1]
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [83]:
X_train

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_y,crr,rrr
21789,Kings XI Punjab,Delhi Daredevils,Bloemfontein,121,119,10,0,0.000000,6.100840
62355,Rajasthan Royals,Mumbai Indians,Mumbai,157,111,9,0,6.666667,8.486486
42803,Delhi Daredevils,Kolkata Knight Riders,Kolkata,41,77,9,1,7.953488,3.194805
34063,Delhi Daredevils,Deccan Chargers,Delhi,47,23,3,0,6.123711,12.260870
19455,Delhi Daredevils,Kolkata Knight Riders,Durban,35,26,9,0,7.659574,8.076923
...,...,...,...,...,...,...,...,...,...
98127,Rajasthan Royals,Mumbai Indians,Mumbai,123,88,9,1,10.312500,8.386364
67989,Kolkata Knight Riders,Chennai Super Kings,Ranchi,77,50,5,0,6.171429,9.240000
8459,Delhi Daredevils,Chennai Super Kings,Chennai,70,67,10,1,11.320755,6.268657
93041,Rajasthan Royals,Chennai Super Kings,Pune,140,66,7,1,7.888889,12.727273
41879,Kings XI Punjab,Deccan Chargers,Dharamsala,163,91,8,4,7.448276,10.747253

In [84]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
trf=ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [85]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [86]:
pipe=Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [87]:
pipe.fit(X_train,y_train)

C:\Users\upray\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [88]:
X_train.describe()

,runs_left,balls_left,wickets,total_runs_y,crr,rrr
count,42722.000000,42722.000000,42722.000000,42722.000000,42722.000000,42722.000000
mean,92.782314,62.777539,7.545574,1.302748,7.451649,10.436169
std,49.262544,33.224666,2.123731,1.595711,2.279373,13.112223
min,-15.000000,-2.000000,0.000000,0.000000,0.000000,-468.000000
25%,54.000000,35.000000,6.000000,0.000000,6.282353,7.256146
50%,92.000000,63.000000,8.000000,1.000000,7.473684,8.914286
75%,130.000000,91.000000,9.000000,1.000000,8.687267,10.909091
max,250.000000,119.000000,10.000000,10.000000,42.000000,588.000000

In [89]:
X_train.shape

(42722, 9)

In [90]:
y_pred=pipe.predict(X_test)

In [91]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8248291358487033

In [92]:
pipe.predict_proba(X_test)[5]

array([0.08505884, 0.91494116])

In [93]:
def match_summary(row):
    print("Batting Team-" + row['batting_team'] + " | Bowling Team-" + row['bowling_team'] + " | Target- " + str(row['total_runs_x']))

In [100]:
def match_progression(x_df,match_id,pipe):
    match = x_df[x_df['match_id'] == match_id]
    match = match[(match['ball'] == 6)]
    temp_df = match[['batting_team','bowling_team','city','runs_left','balls_left','wickets','total_runs_x','crr','rrr']].dropna()
    temp_df = temp_df[temp_df['balls_left'] != 0]
    result = pipe.predict_proba(temp_df)
    temp_df['lose'] = np.round(result.T[0]*100,1)
    temp_df['win'] = np.round(result.T[1]*100,1)
    temp_df['end_of_over'] = range(1,temp_df.shape[0]+1)
    
    target = temp_df['total_runs_x'].values[0]
    runs = list(temp_df['runs_left'].values)
    new_runs = runs[:]
    runs.insert(0,target)
    temp_df['runs_after_over'] = np.array(runs)[:-1] - np.array(new_runs)
    wickets = list(temp_df['wickets'].values)
    new_wickets = wickets[:]
    new_wickets.insert(0,10)
    wickets.append(0)
    w = np.array(wickets)
    nw = np.array(new_wickets)
    temp_df['wickets_in_over'] = (nw - w)[0:temp_df.shape[0]]
    
    print("Target-",target)
    temp_df = temp_df[['end_of_over','runs_after_over','wickets_in_over','lose','win']]
    return temp_df,target

In [101]:
temp_df,target=match_progression(delivery_df,74,pipe)

ValueError: columns are missing: {'total_runs_y'}

In [97]:
temp_df

NameError: name 'temp_df' is not defined

In [105]:
import matplotlib.pyplot as plt
plt.figure(figsize=(18,8))
plt.plot(temp_df['end_of_over'],temp_df['wickets_in_over'],color='yellow',linewidth=3)
plt.plot(temp_df['end_of_over'],temp_df['win'],color='#00a65a',linewidth=4)
plt.plot(temp_df['end_of_over'],temp_df['lose'],color='red',linewidth=4)
plt.bar(temp_df['end_of_over'],temp_df['runs_after_over'])
plt.title('Target-' + str(target))

NameError: name 'temp_df' is not defined

In [106]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Royal Challangers Banglore',
 'Kolkata Knight Riders',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Delhi Capitals']

In [111]:
delivery_df['city'].unique()

array(['Mumbai', 'Kolkata', 'Delhi', 'Hyderabad', 'Indore', 'Chandigarh',
       'Bangalore', 'Jaipur', 'Chennai', 'Cape Town', 'Durban',
       'Port Elizabeth', 'Centurion', 'East London', 'Johannesburg',
       'Kimberley', 'Bloemfontein', 'Ahmedabad', 'Cuttack', 'Nagpur',
       'Dharamsala', 'Visakhapatnam', 'Pune', 'Raipur', 'Abu Dhabi', nan,
       'Sharjah', 'Ranchi', 'Mohali'], dtype=object)

In [112]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))